@import '../../utils/palette.less';

.mainBox {
    height: 95%;
    margin: 1rem 0;
    border-radius: 3rem;
    padding: 3rem;
    background: linear-gradient(@color-primary-transparent-dark-3 10%,@color-primary-transparent-dark-4 90%);
    border: 0.5vw solid @color-primary-transparent-dark-4;
}