@import "../../utils/theme.less";
@import "../../utils/theme";

.container {
    border: 1px solid black;
    display: flex;
}
.icon {
    align-self: center;
    width: 120px;
}
.textHolder {
    display: flex;
    flex-direction: column;
}
.textTitle {
    font-size: 1.6em;
    font-weight: bold;
    .fontStyle();
}
.textSubtitle {
    font-size: 1.2em;
    font-weight: bold;
    .fontStyle();
}
.textMain {
    font-size: 1.2em;
    .fontStyle();
}